.Menu {}

.Textcolour {
    color:#111f3c
}
nav .navbar-nav li a{
    color: #111f3c !important;
}

.nav-item {
        position: relative;
}

.active:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #111f3c;
}
span {

    -webkit-filter: invert(100%);
    filter: invert(100%);
}


